//==========COLOR VARIABLES==========

// Brand Colors
$purple: #9700C8;
$red: #CF3E4C;
$yellow: #FF9F00;

// Utility Colors
$blue: #2B7BD6;
$green: #29B36A;

// Greyscale
$black: #1F2126;
$steel: #3E4149;
$slate: #686C73;
$silver: #ADB1BC;

$smoke: #E6E3E8;
$dark-smoke: #DCD9DD;
$extra-dark-smoke: #CDCACE;

$snow: #FBF9FC;
$dark-snow: #F3F2F4;
$extra-dark-snow: #EBEAED;

//Neutral Colors
$white: #FFF;
$pure-black: #000;

//==========GRADIENTS==========
$brand-gradient: linear-gradient(135deg, $purple 0%, $yellow 100%);

$gradient-1: linear-gradient(135deg, $yellow 0%, #E76E25 100%);
$gradient-2: linear-gradient(135deg, #E76E25 0%, $red 100%);
$gradient-3: linear-gradient(135deg, $red 0%, $purple 100%);
$gradient-4: linear-gradient(135deg, $purple 0%, $blue 100%);
$gradient-5: linear-gradient(135deg, $blue 0%, $green 100%);
$gradient-6: linear-gradient(135deg, $green 0%, $yellow 100%);

$overlay-gradient: linear-gradient(180deg, #8209BC 0%, #E0085B 100%);


//===========FONTS==========
$lato-font: 'Lato';

// Font weight
$regular: 400;
$semi-bold: 600;
$bold: 700;
$extra-bold: 800;

//Font Sizes
$fontSize-xxxxl: 4rem;
$fontSize-xxxl: 3rem;
$fontSize-xxl: 2.25rem;
$fontSize-xl: 1.75rem;
$fontSize-l: 1.5rem;
$fontSize-m: 1.25rem;
$fontSize-r: 1.125rem;
$fontSize-s: 1rem;
$fontSize-xs: .875rem;
